:root {
  --navbackground: rgb(164 181 224);
  --bodyback: #ffffff !important;
  --side-n-headback: black;
  --black: black !important;
  --white: black !important;
  --themePrimary: #0f335c;
  --themeSecondary: #fff4e4;
  --nav-a-hover: #e2e2e1;
  --transparent: transparent;
  --box-background: #2d3748;
  --box-shadow-box: rgb(0 0 0 / 16%) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --selection-label-box-shadow: inset 2px 6px 5px -6px rgba(0.7, 0.7, 0.7, 0.7),
    inset -8px 4px 0px -15px hsla(0.7, 0%, 100%, 0.2) !important;
  --selection-label-color: #c0c0c0;
  --text-color: #ffffff !important;
   --green: #37ca37;
  --yellow: #ffbc00;
  --red: red;
}
#location-dashboard
  .w-full.h-full.flex.flex-col.dashboard-widget-type-custom.dashboard-widget-module-custom.hl-card .hl-card-header {
  border-radius: 12px;
  background: var(--box-background);
  box-shadow: var(--box-shadow-box);
}

#location-dashboard
  .hl-card-header
  .n-base-loading__placeholder
  .n-base-clear
  .n-base-clear__placeholder
  i.n-base-icon.n-base-suffix__arrow {
  color: var(--text-color) !important;
}
#location-dashboard .hl-card-header .n-base-selection-label {
  .custom-element {
    box-shadow: inset 0px 3px 6px rgba(249, 249, 249, 0.5),
      inset 0px 3px 6px rgba(223, 210, 210, 0.5);
  }
  box-shadow: inset 0px 0px -10px rgba(249, 249, 249, 0.5),
    inset -8px -24px 37px rgba(223, 210, 210, 0.5);
}
#app div#mobileresphambeg {
  display: none !important;
}
#app .hl_header {
  background: var(--box-background) !important;
}
#location-dashboard .hl-card-header .n-base-selection-label {
  box-shadow: var(--text-color) !important;
  background: #2d3748 !important;
}
#location-dashboard .hl-card-header .text-gray-900.hl-text-md-medium {
  color: var(--text-color) !important;
}
#location-dashboard
  .group.h-full.crm-opportunities-status
  .hl-card-content
  text {
  fill: var(--black) !important;
}
#location-dashboard .hl-card-content .text-gray-500.hl-text-xs-regular {
  color: var(--text-color) !important;
}
#location-dashboard
  .hl-card-header
  .n-base-selection-label
  .n-base-selection-overlay__wrapper {
  color: var(--text-color) !important;
}

#location-dashboard
  .hl-card-content
  .text-lg.font-medium.cursor-pointer.text-gray-900 {
  color: var(--text-color) !important;
}

#location-dashboard .hl-card-content .hl-empty-title {
  color: var(--text-color) !important;
}


#location-dashboard .hl-card-content p.text-3xl.font-medium.text-gray-900 {
  color: var(--text-color) !important;
}

#location-dashboard .hl-card-header .n-base-selection-input__content {
  color: var(--text-color) !important;
}
text[transform="translate(565.4 38.76)"] {
  fill: var(--text-color) !important;
}
text[transform="translate(37.4 46.2)"]{
fill: var(--text-color) !important;
}
text[transform="translate(677.6 44.76)"]{
  fill: var(--text-color) !important;
}
text[transform="translate(486.2 46.2)"]{
  fill: var(--text-color) !important;
}

#location-dashboard .hl-card-content .hl-text-sm-regular {
  color: var(--text-color) !important;
}
 path[fill="rgb(83,177,253)"] {
    fill: var(--black) !important;
  }

 path[d="M168.5 27.75A83.25 83.25 0 1 1 168.4917 27.75M168.5 40.75A70.25 70.25 0 1 0 168.507 40.75Z"][fill="#E6EBF8"]{
   fill:var(--yellow) !important;
 }
