@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");

:root {
  --navbackground: rgb(164 181 224);
  --bodyback: linear-gradient(to right, #ece9e6, #ffffff) !important;
  --side-n-headback: linear-gradient(
    to right,
    #d4d1d1,
    #dbdbdb,
    #eaeaea
  ) !important;
  --black: black !important;
  --white: black !important;
  --themePrimary: #0f335c;
  --themeSecondary: #fff4e4;
  --nav-a-hover: #e2e2e1;
  --transparent: transparent;
  --green: #37ca37;
  --yellow: #ffbc00;
  --red: red;
  --bg-dashboard-one: #6cc9ce !important;
  --bg-dashboard-two: #fe6d65 !important;
  --bg-dashboard-three: #ffd04e !important;
  --bg-dashboard-one-card: #e4e4e4 !important;
  --bg-dashboard-two-card: #cccbd0 !important;
  --bg-dashboard-three-card: #cdc3e1 !important;
}

* {
  transition: 0.5s;
}

body {
  background: var(--bodyback);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  font-family: "Aldrich", sans-serif !important;
}

#sidebar-v2 {
  background: var(--side-n-headback) !important;

  box-shadow: 5px 5px 15px #bebebe, 0px 0px 0px #ffffff;
}

span.search-placeholder,
span.search-shortcut {
  color: white !important;
}

span.search-shortcut {
  background: #dd6a62 !important;
}

#globalSearchOpener svg {
  fill: white !important;
}

.sidebar-v2-agency #sidebar-v2 .hl_nav-header nav a.active,
.sidebar-v2-agency #sidebar-v2 .hl_nav-header nav a:hover,
.sidebar-v2-agency #sidebar-v2 .hl_nav-settings nav a.active,
.sidebar-v2-agency #sidebar-v2 .hl_nav-settings nav a:hover {
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: #fe6c64 !important;
}
.sidebar-v2-location #sidebar-v2 .hl_nav-header nav a.active,
.sidebar-v2-location #sidebar-v2 .hl_nav-header nav a:hover,
.sidebar-v2-location #sidebar-v2 .hl_nav-settings nav a.active,
.sidebar-v2-location #sidebar-v2 .hl_nav-settings nav a:hover {
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: #fe6c64 !important;
}

.sidebar-v2-location #sidebar-v2 .hl_nav-header-without-footer nav a.active,
.sidebar-v2-location #sidebar-v2 .hl_nav-header-without-footer nav a:hover,
.sidebar-v2-agency #sidebar-v2 .hl_nav-header-without-footer nav a.active,
.sidebar-v2-agency #sidebar-v2 .hl_nav-header-without-footer nav a:hover {
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: #fe6c64 !important;
}

.sidebar-v2-location
  #sidebar-v2
  .hl_nav-header-without-footer
  nav
  a.divider.active,
.sidebar-v2-location
  #sidebar-v2
  .hl_nav-header-without-footer
  nav
  a.divider:hover {
  border-radius: 16px;
  box-shadow: none !important;

  background: none !important;
}

[class*="hl_nav"] a {
  list-style: none !important;
  padding: 40px 0 !important;
  width: 100% !important;
}

[class*="hl_nav"] a {
  position: relative !important;
  padding: 6px 20px !important;
  width: 90% !important;

  border-bottom: 0px;
  border-radius: 5px !important;
  margin: auto;
}

[class*="hl_nav"] a.active {
  background: #f44336 !important;
  background: url(https://images.unsplash.com/photo-1521193089946-7aa29d1fe776?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  box-shadow: 10px 10px 42px -6px rgb(0 0 0 / 51%) !important;
  -webkit-box-shadow: 10px 10px 12px -6px rgb(0 0 0 / 51%) !important;
  -moz-box-shadow: 10px 10px 42px -6px rgb(0 0 0 / 51%);
}

.sidebar-v2-location #sidebar-v2 .hl_collapse-button {
  background: var(--themePrimary);
  color: var(--themeSecondary);
}

.sidebar-v2-location #sidebar-v2 #location-switcher-sidbar-v2 {
  background: var(--transparent) !important;
  box-shadow: inset -4px -5px 10px var(--white) 70, inset 4px 2px 5px #aeaec020;
  margin-bottom: 0px !important;
}
#location-switcher-sidbar-v2 svg {
  color: black !important;
  filter: invert(100%);
}
div#globalSearchOpener,
#quickActions {
  background: var(--transparent) !important;

  margin: 0px 10px 0 10px;
  box-shadow: inset -4px -5px 10px var(--white) 70, inset 4px 2px 5px #aeaec020;
}

a.btn.btn-primary.btn-sched {
  background: var(--side-n-headback) !important;
}

.hl_nav-header nav a:first-child {
  margin-top: 20px !important;
}

div#sidebar-v2 {
  background: #293541 !important;
}

[class*="hl_nav"] a.active {
  background: #f44336 !important;
}

.sidebar-v2-location .switcher-caret-holder i {
  color: white !important;
}

.sidebar-v2-agency .switcher-caret-holder i {
  color: black !important;
}

.sidebar-v2-location #sidebar-v2 #backButtonv2 {
  background: #fe6c64 !important;
  color: black !important;
}

.sidebar-v2-agency #sidebar-v2 #backButtonv2 {
  background: #fe6c64 !important;
  color: black !important;
}

.sidebar-v2-agency #sidebar-v2 #location-switcher-sidbar-v2 {
  background: #f7f5f4;
}

.sidebar-v2-agency #sidebar-v2 .hl_nav-header-without-footer nav a.active {
  margin-top: 10px !important;
}

.sidebar-v2-location
  #sidebar-v2
  #location-switcher-sidbar-v2
  .hl_v2-location_switcher {
  background: #ffffff !important;
}

.sidebar-v2-agency #sidebar-v2 #location-switcher-sidbar-v2 .hl_text-overflow {
  color: black !important;
}

.sidebar-v2-agency #sidebar-v2 .hl_nav-header nav a.active {
  background: #f44336 !important;
}

.sidebar-v2-agency #sidebar-v2 .hl_nav-header-without-footer nav a.active {
  background: #f44336 !important;
}

.sidebar-v2-location #sidebar-v2 .hl_nav-header nav a.active.divider {
  display: none !important;
}

.sidebar-v2-location #sidebar-v2 .hl_nav-header nav a.divider {
  display: none !important;
}
div#app div#sidebar-v2 nav.flex-1.w-full img {
  filter: invert(-100%);
}

#app #sidebar-v2 nav i {
  color: #ffffff !important;
}
#app #sidebar-v2 nav a span {
  color: #ffffff !important;
}
#sidebar-v2
  .flex.flex-col.text-left.text-lg.menu-title.px-2.py-2.md\:px-3.md\:py-2.mt-2.font-medium {
  color: #ffffff !important;
}
#app div#mobileresphambeg {
  display: none !important;
}

#location-dashboard .hl-card-header .text-gray-900.hl-text-md-medium {
  font-weight: 700 !important;
  letter-spacing: 1px !important;
  word-spacing: 2px !important;
  text-transform: uppercase !important;
}
#location-dashboard .n-config-provider i,
header.hl_header.w100 .hl_header--controls i {
  color: black !important;
}

.location-dashboard_header
  .hl-header-content
  .hl-title-container
  .title.hl-display-sm-medium {
  font-weight: 700 !important;
  letter-spacing: 1.5px !important;
  text-transform: uppercase !important;
}

.flex.mb-4.h-7.flex-row.md\:flex-col.lg\:flex-row.xl\:flex-row.items-start.justify-between.px-2 {
  margin-bottom: 10px !important;
}

#bookedAppointments__::-webkit-scrollbar {
  width: 4px;
}

#bookedAppointments__::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#bookedAppointments__::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#bookedAppointments__::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#location-dashboard .crm-opportunities-status .hl-card-header {
  background: var(--bg-dashboard-one) !important;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
  border-radius: 20px 3px 20px 21px;
  border: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 2rem !important;
}
#location-dashboard .crm-opportunities-value .hl-card-header {
  background: var(--bg-dashboard-two) !important;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
  border-radius: 24px 5px 25px 5px;
  border: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 2rem !important;
}
#location-dashboard .crm-opportunities-conversion-rate .hl-card-header {
  background: var(--bg-dashboard-three) !important;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
  border-radius: 20px 3px 20px 21px;
  border: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 2rem !important;
}
#location-dashboard .crm-opportunities-status .hl-card {
  background: var(--bg-dashboard-one-card) !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  border: none !important;
}

#location-dashboard .crm-opportunities-value .hl-card {
  background: var(--bg-dashboard-two-card) !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  border: none !important;
}

#location-dashboard .crm-opportunities-conversion-rate .hl-card {
  background: var(--bg-dashboard-three-card) !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  border: none !important;
}
