:root {
  --side-n-headback: #e8eaec;
  --sideheadback: #111111;
  --mobile-nav-back: #222222;
  --text-color-light: #999999;
  --text-color-full: #ffffff !important;
  --black: #ffffff !important;
  --white: #000000 !important;
  --themePrimary: #1a4c81 !important;
  --themeSecondary: #f2dcb0 !important;
  --nav-a-hover: #333333ba;
  --transparent: transparent !important;
  --green: #0caa0c;
  --yellow: #ffbc00;
  --red: #ff0000;
  --gray: #333333;
  --light: #333333;
  --dark: #333333;
  --primary-light: #4285f5;
  --primary: #3532e7;
  --primary-dark: #2c0bdb;
  --white1: #333333;
  --greyLight-1: #2b3240;
  --greyLight-2: #1f232f;
  --greyLight-3: #1a1f2c;
  --greyDark: #16223a;
  --bg-dashboard: #1a1f2c;
  --body-bg: #1a1f2c;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

#sidebar-v2 {
  background: var(--side-n-headback) !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#sidebar-v2 nav a span {
  color: black !important;
}

.sidebar-v2-agency #sidebar-v2 .hl_nav-header nav a.active,
.sidebar-v2-agency #sidebar-v2 .hl_nav-header nav a:hover,
.sidebar-v2-agency #sidebar-v2 .hl_nav-settings nav a.active,
.sidebar-v2-agency #sidebar-v2 .hl_nav-settings nav a:hover {
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #c1c2cb !important;
}
.sidebar-v2-location #sidebar-v2 .hl_nav-header nav a.active,
.sidebar-v2-location #sidebar-v2 .hl_nav-header nav a:hover,
.sidebar-v2-location #sidebar-v2 .hl_nav-settings nav a.active,
.sidebar-v2-location #sidebar-v2 .hl_nav-settings nav a:hover {
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #c1c2cb !important;
}

.sidebar-v2-location #sidebar-v2 .hl_nav-header-without-footer nav a.active,
.sidebar-v2-location #sidebar-v2 .hl_nav-header-without-footer nav a:hover,
.sidebar-v2-agency #sidebar-v2 .hl_nav-header-without-footer nav a.active,
.sidebar-v2-agency #sidebar-v2 .hl_nav-header-without-footer nav a:hover {
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #c1c2cb !important;
}

#sidebar-v2 nav a i {
  color: black !important;
}
span.search-shortcut {
  background: #e8eaec !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

[class*="hl_nav"] a {
  list-style: none !important;
  padding: 40px 0 !important;
  width: 100% !important;
}

[class*="hl_nav"] a {
  position: relative !important;
  padding: 6px 15px !important;
  width: 90% !important;
  margin: auto;
}

div#app div#sidebar-v2 nav.flex-1.w-full img {
  filter: invert(100%);
}

a#sb_divider-1 {
  background: var(--transparent) !important;
}

a#sb_divider-1 p {
  line-height: 2px !important;
  font-size: 3px !important;
  margin: 2px !important;
}

.sidebar-v2-location #sidebar-v2 .hl_nav-header,
.sidebar-v2-location #sidebar-v2 .hl_nav-settings {
  overflow-y: overlay;
  max-height: calc(100vh - 11.625rem);
}

a#sb_divider-1:active {
  background-color: var(--transparent) !important;
}

.sidebar-v2-location #sidebar-v2 .hl_collapse-button {
  background: #ffffff !important;
  color: #333333 !important;
  box-shadow: none !important;
}

.sidebar-v2-location #sidebar-v2 #location-switcher-sidbar-v2 {
  background: var(--transparent) !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 12px !important;
}

div#globalSearchOpener,
#quickActions {
  margin: 0px 10px 0 10px;
  background: #e8eaec !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

div#location-switcher-sidbar-v2 i {
  background: #000000 !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0px 5px !important;
}
div#location-switcher-sidbar-v2 .hl_location_icon.scale-2 {
  filter: invert(1);
}
div#location-switcher-sidbar-v2 .hl_location-text span {
  color: black !important;
  font-weight: 600;
}
#globalSearchOpener span {
  color: #000000 !important;
}
#sidebar-v2 #globalSearchOpener .search-icon {
  color: black !important;
}

.hl_header--controls {
  gap: 10px;
}

div#sidebar-v2
  .flex.flex-col.overflow-y-auto.overflow-x-hidden.w-full.hl_nav-header-without-footer
  nav.flex-1.w-full
  a.divider {
  display: none !important;
}

#app div#mobileresphambeg {
  display: none !important;
}
#location-dashboard
  .n-config-provider
  .w-vw.z-10.top-0.py-2\.5.-mx-8.bg-gray-50.sticky {
  background: transparent !important;
  border: 2px dotted #333333 !important;
  width: 100% !important;
  margin: auto !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sidebar-v2-location #sidebar-v2 .hl_nav-header nav a.active.divider {
  display: none !important;
}

.sidebar-v2-location #sidebar-v2 .hl_nav-header nav a.divider {
  display: none !important;
}
#location-dashboard .n-config-provider i {
  color: black !important;
}
#location-dashboard header.hl_header.w100 .hl_header--controls i {
  color: white !important;
}
#location-dashboard
  :is(
    .group.h-full.crm-opportunities-funnel,
    .group.h-full.crm-opportunities-stages-distribution,
    .group.h-full.crm-locations-tasks,
    .group.h-full.crm-conversations-manual-actions,
    .group.h-full.automations-attribution-lead-sources,
    .group.h-full.automations-reporting-google-analytics-count-report,
    .group.h-full.automations-reporting-google-analytics-chart-report,
    .group.h-full.automations-reporting-gmb-report,
    .group.h-full.automations-reporting-facebook-ads-report,
    .group.h-full.automations-reporting-google-ads-report,
    .crm-opportunities-conversion-rate,
    .crm-opportunities-value,
    .crm-opportunities-status
  )
  .hl-card {
  background: transparent !important;
  border: 2px dotted #333333;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#location-dashboard
  :is(
    .group.h-full.crm-opportunities-funnel,
    .group.h-full.crm-opportunities-stages-distribution,
    .group.h-full.crm-locations-tasks,
    .group.h-full.crm-conversations-manual-actions,
    .group.h-full.automations-attribution-lead-sources,
    .group.h-full.automations-reporting-google-analytics-count-report,
    .group.h-full.automations-reporting-google-analytics-chart-report,
    .group.h-full.automations-reporting-gmb-report,
    .group.h-full.automations-reporting-facebook-ads-report,
    .group.h-full.automations-reporting-google-ads-report,
    .crm-opportunities-conversion-rate,
    .crm-opportunities-value,
    .crm-opportunities-status
  )
  .hl-card
  .hl-card-header {
  border-bottom: 2px dotted #333333;
}
#location-dashboard
  :is(
    .group.h-full.crm-opportunities-funnel,
    .group.h-full.crm-opportunities-stages-distribution,
    .group.h-full.crm-locations-tasks,
    .group.h-full.crm-conversations-manual-actions,
    .group.h-full.automations-attribution-lead-sources,
    .group.h-full.automations-reporting-google-analytics-count-report,
    .group.h-full.automations-reporting-google-analytics-chart-report,
    .group.h-full.automations-reporting-gmb-report,
    .group.h-full.automations-reporting-facebook-ads-report,
    .group.h-full.automations-reporting-google-ads-report,
    .crm-opportunities-conversion-rate,
    .crm-opportunities-value,
    .crm-opportunities-status
  )
  .hl-card
  .hl-card-header
  .truncate.mr-2
  .text-gray-900.hl-text-md-medium {
  border-bottom: 2px dotted #333333;
  font-weight: 700 !important;
  word-spacing: 2px !important;
  letter-spacing: 1px !important;
}
#location-dashboard .hl-wrapper-container.location-dashboard-wrapper {
  background: #e8eaec !important;
}

#app .hl_header {
  background: #e8eaec !important;
  box-shadow: none !important;
}
header.hl_header .container-fluid .hl_header--controls a#hl_header--help-icon {
  background: #4f00a2 !important;
}

:is(.crm-opportunities-status, .crm-opportunities-value, )
  .echarts.chart
  path:is(:nth-child(1), :nth-child(4), :nth-child(6), :nth-child(21)) {
  fill: #000000 !important;
}
.crm-opportunities-conversion-rate .echarts path:nth-child(4) {
  fill: #000000 !important;
}
/* ------------------------------------------------------------------- DARK-THEME-DASHBOARD HAS BEEN COMPLETED --------------------------------------------------------------------- */
