:root {
  --side-n-headback: #333333;
  --sideheadback: #111111;
  --mobile-nav-back: #222222;
  --text-color-light: #999999;
  --text-color-full: #ffffff !important;
  --black: #ffffff !important;
  --white: #000000 !important;
  --themePrimary: #1a4c81 !important;
  --themeSecondary: #f2dcb0 !important;
  --nav-a-hover: #333333ba;
  --transparent: transparent !important;
  --green: #0caa0c;
  --yellow: #ffbc00;
  --red: #ff0000;
  --gray: #333333;
  --light: #333333;
  --dark: #333333;
  --primary-light: #4285f5;
  --primary: #3532e7;
  --primary-dark: #2c0bdb;
  --white1: #333333;
  --greyLight-1: #2b3240;
  --greyLight-2: #1f232f;
  --greyLight-3: #1a1f2c;
  --greyDark: #16223a;
  --bg-dashboard: #1a1f2c;
  --body-bg: #1a1f2c;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

#sidebar-v2 {
  background: var(--side-n-headback) !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

span.search-shortcut {
  background: #333333 !important;
}

[class*="hl_nav"] a {
  list-style: none !important;
  padding: 40px 0 !important;
  width: 100% !important;
}

[class*="hl_nav"] a {
  position: relative !important;
  padding: 6px 15px !important;
  width: 90% !important;
  margin: auto;
}

div#app div#sidebar-v2 nav.flex-1.w-full img {
  filter: invert(-100%);
}

a#sb_divider-1 {
  background: var(--transparent) !important;
}

a#sb_divider-1 p {
  line-height: 2px !important;
  font-size: 3px !important;
  margin: 2px !important;
}

.sidebar-v2-location #sidebar-v2 .hl_nav-header,
.sidebar-v2-location #sidebar-v2 .hl_nav-settings {
  overflow-y: overlay;
  max-height: calc(100vh - 11.625rem);
}

a#sb_divider-1:active {
  background-color: var(--transparent) !important;
}

.sidebar-v2-location #sidebar-v2 .hl_collapse-button {
  background: #ffffff !important;
  color: #333333 !important;
  box-shadow: none !important;
}

.sidebar-v2-location #sidebar-v2 #location-switcher-sidbar-v2 {
  background: var(--transparent) !important;
  box-shadow: inset -4px -5px 10px var(--text-color-full) 70,
    inset 4px 2px 5px rgba(174, 174, 192, 0.1254901961);
  margin-bottom: 8px !important;
}

div#globalSearchOpener,
#quickActions {
  margin: 0px 10px 0 10px;
  background: #333333 !important;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white1);
}

div#location-switcher-sidbar-v2 i {
  background: #333333 !important;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white1);
  padding: 0px 5px !important;
}

#globalSearchOpener span {
  color: #ffffff !important;
}

.hl_header--controls {
  gap: 10px;
}

div#sidebar-v2
  .flex.flex-col.overflow-y-auto.overflow-x-hidden.w-full.hl_nav-header-without-footer
  nav.flex-1.w-full
  a.divider {
  display: none !important;
}

#sidebar-v2 nav a span {
  color: #ffffff !important;
}
#app div#mobileresphambeg {
  display: none !important;
}
#location-dashboard
  .n-config-provider
  .w-vw.z-10.top-0.py-2\.5.-mx-8.bg-gray-50.sticky {
  background: transparent !important;
  border: 1px solid #333333 !important;
  width: 90% !important;
  margin: auto !important;
}

.sidebar-v2-location #sidebar-v2 .hl_nav-header nav a.active.divider {
  display: none !important;
}

.sidebar-v2-location #sidebar-v2 .hl_nav-header nav a.divider {
  display: none !important;
}
#location-dashboard .n-config-provider i,
header.hl_header.w100 .hl_header--controls i {
  color: black !important;
}
#location-dashboard
  :is(
    .group.h-full.crm-opportunities-funnel,
    .group.h-full.crm-opportunities-stages-distribution,
    .group.h-full.crm-locations-tasks,
    .group.h-full.crm-conversations-manual-actions,
    .group.h-full.automations-attribution-lead-sources,
    .group.h-full.automations-reporting-google-analytics-count-report,
    .group.h-full.automations-reporting-google-analytics-chart-report,
    .group.h-full.automations-reporting-gmb-report,
    .group.h-full.automations-reporting-facebook-ads-report,
    .group.h-full.automations-reporting-google-ads-report,
    .crm-opportunities-conversion-rate,
    .crm-opportunities-value,
    .crm-opportunities-status
  )
  .hl-card {
  background: transparent !important;
  border: 1px solid #333333;
}
#location-dashboard
  :is(
    .group.h-full.crm-opportunities-funnel,
    .group.h-full.crm-opportunities-stages-distribution,
    .group.h-full.crm-locations-tasks,
    .group.h-full.crm-conversations-manual-actions,
    .group.h-full.automations-attribution-lead-sources,
    .group.h-full.automations-reporting-google-analytics-count-report,
    .group.h-full.automations-reporting-google-analytics-chart-report,
    .group.h-full.automations-reporting-gmb-report,
    .group.h-full.automations-reporting-facebook-ads-report,
    .group.h-full.automations-reporting-google-ads-report,
    .crm-opportunities-conversion-rate,
    .crm-opportunities-value,
    .crm-opportunities-status
  )
  .hl-card
  .hl-card-header {
  border-bottom: 1px solid #333333;
}

#location-dashboard .hl-wrapper-container.location-dashboard-wrapper {
  background: #e8eaec !important;
}

/* ------------------------------------------------------------------- LIGHT-THEME-DASHBOARD HAS BEEN COMPLETED --------------------------------------------------------------------- */
