:root {
  --navbackground: linear-gradient(to right, #000000, #434343);
  --bodyback: #ffffff !important;
  --side-n-headback: #01012917 !important;
  --black: black !important;
  --white: black !important;
  --themePrimary: #0f335c;
  --themeSecondary: #fff4e4;
  --nav-a-hover: #e2e2e1;
  --transparent: transparent;
  --green: #37ca37;
  --yellow: #ffbc00;
  --red: red;
  --bg-dashboard-one: #fdfad9 !important;
  --bg-dashboard-two: #e6daf6 !important;
  --bg-dashboard-three: #8ce1f4 !important;
  --bg-dashboard-one-card: linear-gradient(
    to right top,
    #8fe2f5,
    #9fe5f0,
    #aee7ec,
    #bde9ea,
    #ccebe9
  ) !important;
  --bg-dashboard-two-card: radial-gradient(
    circle,
    rgba(8, 178, 189, 1) 0%,
    rgba(197, 197, 204, 1) 100%
  ) !important;
  --bg-dashboard-three-card: radial-gradient(
    circle,
    rgba(8, 178, 189, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ) !important;
}

* {
  transition: 0.5s;
}

a#sb_divider-1 p {
  line-height: 2px !important;
  font-size: 3px !important;
  margin: 2px !important;
}

div#globalSearchOpener,
#quickActions {
  background: var(--transparent) !important;

  margin: 10px 10px 0 10px;
  box-shadow: inset -4px -5px 10px var(--white) 70, inset 4px 2px 5px #aeaec020;
  border: 1px solid green !important;
}

.sidebar-v2-location .hl_header .topmenu-nav .topmenu-navtitle {
  color: white;
}

.sidebar-v2-location
  #sidebar-v2
  #location-switcher-sidbar-v2
  .hl_switcher-loc-name,
i {
  color: black !important;
}

#sidebar-v2 {
  background: var(--side-n-headback) !important;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}
span.search-placeholder,
span.search-shortcut {
  color: #f3ebebb8 !important;
}
span.search-shortcut {
  background: #979090 !important;
}
#globalSearchOpener svg {
  fill: #000000 !important;
}
#globalSearchOpener span:nth-child(2) {
  color: #000000 !important;
  font-weight: 500 !important;
}

.sidebar-v2-location #sidebar-v2 .hl_nav-header nav a.active,
.sidebar-v2-location #sidebar-v2 .hl_nav-header nav a:hover,
.sidebar-v2-location #sidebar-v2 .hl_nav-settings nav a.active,
.sidebar-v2-location #sidebar-v2 .hl_nav-settings nav a:hover {
  background: var(--nav-a-hover);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  box-shadow: 2px 2px 10px #156177, 2px 2px 10px #82d1e8;
  transform: skew(-10deg, 0deg);
}

[class*="hl_nav"] a {
  position: relative !important;
  padding: 6px 20px !important;
  width: 85%;
  margin: auto;
}

[class*="hl_nav"] a.active {
  background: #ffffff !important;

  background: url(https://images.unsplash.com/photo-1521193089946-7aa29d1fe776?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  box-shadow: 2px 2px 10px #d9dad1, 2px 2px 3px #2c2c29;
}

[class*="hl_nav"] a.active span {
  color: var(--black) !important;
}
[class*="hl_nav"] a.active img {
  background: black;
  border-radius: 5px;
}

[class*="hl_nav"] a span {
  text-decoration: none !important;
  color: #000000 !important;
}

.sidebar-v2-location #sidebar-v2 .hl_collapse-button {
  background: var(--themePrimary);
  color: var(--themeSecondary);
}

.sidebar-v2-location #sidebar-v2 #location-switcher-sidbar-v2 {
  background: var(--transparent) !important;
  box-shadow: inset -4px -5px 10px var(--white) 70, inset 4px 2px 5px #aeaec020;
  margin-bottom: 0px !important;
  border: 1px solid #00b5db !important;
}

div#app div#sidebar-v2 nav.flex-1.w-full img {
  filter: invert(150%);
}

#app #sidebar-v2 nav i {
  color: black !important;
}
#location-dashboard .n-config-provider i {
  color: black !important;
}
#location-switcher-sidbar-v2 svg {
  fill: black !important;
  filter: invert(100%) !important;
}
#location-switcher-sidbar-v2 .hl_location-text span:nth-child(2) {
  color: black !important;
  font-weight: 600;
}

:is(.crm-opportunities-status, .crm-opportunities-value, )
  .echarts.chart
  path:is(:nth-child(1), :nth-child(4), :nth-child(6), :nth-child(21)) {
  fill: #000000 !important;
}
.crm-opportunities-conversion-rate .echarts path:nth-child(4) {
  fill: #dce1e7 !important;
}

i.hl_collapse-button.fas.fa-chevron-circle-left.rounded-full {
  color: #fff4e4 !important;
}
#location-dashboard
  .n-config-provider
  .w-vw.z-10.top-0.py-2\.5.-mx-8.bg-gray-50.sticky {
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(155, 249, 255, 1) 100%
  ) !important;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
  margin-bottom: 1.5rem !important;
}
#location-dashboard .crm-opportunities-status .hl-card-header {
  background: var(--bg-dashboard-one) !important;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset !important;
  border-radius: 10px;
  border: none !important;
  width: 250px !important;
  padding: 1.5rem !important;
  position: relative;
  top: -3%;
  right: 2%;
}
#location-dashboard .crm-opportunities-value .hl-card-header {
  background: var(--bg-dashboard-two) !important;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset !important;
  border-radius: 10px;
  border: none !important;
  width: 250px !important;
  padding: 1.5rem !important;
  position: relative;
  top: -3%;
  right: 2%;
}
#location-dashboard
  .group.h-full.crm-opportunities-conversion-rate
  .hl-card-header {
  background: var(--bg-dashboard-three) !important;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset !important;
  border-radius: 10px;
  border: none !important;
  width: 250px !important;
  padding: 1.5rem !important;
  position: relative;
  top: -3%;
  right: 2%;
}
#location-dashboard .crm-opportunities-status .hl-card {
  background: var(--bg-dashboard-one-card) !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  border-radius: 10px;
  border: 2px solid #e6daf6 !important;
}
#location-dashboard .crm-opportunities-value .hl-card {
  background: var(--bg-dashboard-two-card) !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  border-radius: 10px;
  border: 2px solid #fdfad9 !important;
}
#location-dashboard .group.h-full.crm-opportunities-conversion-rate .hl-card {
  background: var(--bg-dashboard-three-card) !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  border-radius: 10px;
  border: 2px solid #dce1e7 !important;
}

div#location-dashboard
  .font-sans.hl-wrapper-container.bg-gray-50.h-auto.min-h-full.location-dashboard-wrapper.flex.flex-col {
  background: linear-gradient(
    45deg,
    hsl(323deg 46% 88%) 0%,
    hsl(268deg 67% 95%) 20%,
    hsl(280deg 79% 95%) 40%,
    hsl(221deg 100% 93%) 60%,
    hsl(185deg 96% 80%) 80%,
    hsl(177deg 100% 50%) 100%
  ) !important;
}
#location-dashboard
  :is(
    .group.h-full.crm-opportunities-funnel,
    .group.h-full.crm-opportunities-stages-distribution,
    .group.h-full.crm-locations-tasks,
    .group.h-full.crm-conversations-manual-actions,
    .group.h-full.automations-attribution-lead-sources,
    .group.h-full.automations-reporting-google-analytics-count-report,
    .group.h-full.automations-reporting-google-analytics-chart-report,
    .group.h-full.automations-reporting-gmb-report,
    .group.h-full.automations-reporting-facebook-ads-report,
    .group.h-full.automations-reporting-google-ads-report
  )
  .hl-card-header {
  background: linear-gradient(
    45deg,
    hsl(323deg 62% 70%) 0%,
    hsl(270deg 58% 79%) 20%,
    hsl(216deg 39% 80%) 40%,
    hsl(197deg 38% 79%) 60%,
    hsl(184deg 73% 68%) 80%,
    hsl(171deg 100% 50%) 100%
  ) !important;

  border-radius: 10px;
  border: none !important;
}

#location-dashboard
  :is(
    .group.h-full.crm-opportunities-funnel,
    .group.h-full.crm-opportunities-stages-distribution,
    .group.h-full.crm-locations-tasks,
    .group.h-full.crm-conversations-manual-actions,
    .group.h-full.automations-attribution-lead-sources,
    .group.h-full.automations-reporting-google-analytics-count-report,
    .group.h-full.automations-reporting-google-analytics-chart-report,
    .group.h-full.automations-reporting-gmb-report,
    .group.h-full.automations-reporting-facebook-ads-report,
    .group.h-full.automations-reporting-google-ads-report
  )
  .hl-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  border: none !important;
}
#app div#mobileresphambeg {
  display: none !important;
}

header.hl_header.w100 .hl_header--controls i {
  color: black !important;
}
#location-dashboard .hl-card-header .text-gray-900.hl-text-md-medium {
  font-weight: 700;
}

header.hl_header.w100 .hl_header--controls {
  margin-right: 2rem;
}
