#location-dashboard .group.h-full.crm-opportunities-status .dashboard-widget-type-custom{
    background-image:url("https://storage.googleapis.com/msgsndr/Q6sATpsoSLCPFf5ErtoF/media/654b6dd092b8572527986b03.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:100% 100%
    
}
