/* .crm-opportunities-funnel #chart path:nth-child(13) {
  fill: !important;
}
.crm-opportunities-funnel #chart path:nth-child(14) {
  fill: !important;
}
.crm-opportunities-funnel #chart path:nth-child(15) {
  fill: !important;
}
.crm-opportunities-funnel #chart path:nth-child(16) {
  fill: !important;
}
.crm-opportunities-funnel #chart path:nth-child(17) {
  fill: !important;
}
.crm-opportunities-funnel #chart path:nth-child(18) {
  fill: !important;
} */
